body {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 0;
  background-color: darkgrey;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

label {
  border: 1px solid;
}

input {
  background-color: rgba(146, 184, 255, 0.425);
}

ul {
  list-style: none;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.menu {
  font-family: "Convergence", sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: antiquewhite;
}

.form {
  background-color: white;
  border-style: groove;
  border-width: 9px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Convergence", sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 0;
}
